html, body {
	margin:0;
	padding:0;
}

#wrapper {
	margin:0 auto;
	width:296px;
	padding-top:75px;
}

/* timer general */
#timer {
	position:relative;
}

hr {  /* this creates the overline you see on top of the timer */
	position:absolute;
	top:15px;
	left:0;
	width:292px;
	border:1px solid #ffffff;
	display: none;
}

*:first-child+html hr { /* this is the IE7 hack to position the above overline */
	top:370px;
}


/* timer numbers */
.timer_numbers {
	font-size:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:left;
	color:#ffffff;
}

#timer_days {
	background:url(/sites/all/themes/sitv/images/countdown1_sm.png) transparent no-repeat;
	float:left;
	width:70px;
	height:48px;
	padding:4px 0 0 6px;
	letter-spacing:16px;
}

#timer_hours {
	background:url(/sites/all/themes/sitv/images/countdown1_sm.png) transparent no-repeat;
	float:left;
	width:70px;
	height:48px;
	padding:4px 0 0 6px;
	letter-spacing:16px;
}

#timer_mins {
	background:url(/sites/all/themes/sitv/images/countdown1_sm.png) transparent no-repeat;
	float:left;
	width:70px;
	height:48px;
	padding:4px 0 0 6px;
	letter-spacing:16px;
}

#timer_seconds {
	background:url(/sites/all/themes/sitv/images/countdown2_sm.png) transparent no-repeat;
	float:left;
	width:63px;
	height:41px;
	padding:4px 0 0 6px;
	letter-spacing:16px;
}

/* timer labels */
.timer_labels {
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:center;
	color:#666;	
	display: none;
}

#timer_labels {
	position:relative;
}

#timer_days_label {
	position:absolute;
	top:150px;
	left:58px;	
}

#timer_hours_label {
	position:absolute;
	top:150px;
	left:305px;
	
}

#timer_mins_label {
	position:absolute;
	top:150px;
	left:570px;	
}

#timer_seconds_label {
	position:absolute;
	top:150px;
	left:825px;
}





/* below style not apart of the tutorial */
p#demoPage {
	display:inline;
	padding:5px;
	background-color:#000000;
	color:#FFFFFF;
	margin:20px 0;
	font-size:18px;
}

p#demoPage a {
	color:#FFFFFF;	
}

